<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="rivicore_semantiq_rag_context_ready">
        <observer name="rivicore_semantiq_store_rag_context"
                  instance="Rivicore\SemantiQ\Observer\RagContextObserver"/>
    </event>
</config>
